<?xml version="1.0"?>
<robot name="kimwipe">
    <link name="kimwipe_base_link">
        <contact>
            <lateral_friction value="1.0"/>
            <spinning_friction value="0.01"/>
            <rolling_friction value="0.01"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.147"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 1.5708 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="cuboid/visual/kimwipe.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 1.5708 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="cuboid/collision/kimwipe.stl" scale="1.0 1.0 1.0"/>
            </geometry>
        </collision>
    </link>
</robot>
